<div class="container">
    <div class="row">
      <div class="col-md-12 mt-4">
        <ul class="list-group container-fluid" style="width: 100%;">
          <li *ngFor="let persona of personaArray" class="list-group-item list-group-item-action" (click)="edit(persona)" [class.active]="persona == selectedPersona">
            <span class="badge badge-primary">{{persona.id}}</span> {{persona.lastName}}, {{persona.firstName}} -
            {{persona.address}} <span title="{{persona.email}}"><i class="fas fa-envelope"></i></span>
          </li>
        </ul>
        <div class="card mt-4" style="width: 99%;">
          <div class="card-body">
            <div class="card-title d-flex">
              <span class="p-2">Inserta una nueva persona</span> <button class="btn btn-primary ml-auto p-2" (click)="refresh()">Refresh</button>
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="selectedPersona.lastName" placeholder="Last Name" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="selectedPersona.firstName" placeholder="First Name" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="selectedPersona.email" placeholder="E-Mail" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="selectedPersona.address" placeholder="Address" class="form-control">
            </div>
            <div class="d-flex">
              <button (click)="saveOne()" class="btn btn-primary p-2" [hidden]="!authenticated()">Save</button>
              <button *ngIf="selectedPersona.id !== 0" class="btn btn-danger p-2 ml-auto" (click)="delete()" [hidden]="!authenticated()">Delete</button>
              <button class="btn btn-secondary ml-auto p-2" (click)="saveAll()" [hidden]="!authenticated()">Save All</button>
            </div>
            <div [hidden]="authenticated()">
              <p>Login to save or delete</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  